@import "_fonts";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: tomato;
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

#results {
  border-radius: 1em;
  color: black;
  font-size: 2em;
  font-family: "Nerko One";
  text-align: center;
}
