<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
  </head>
  <body>
    <header><h1>Travel App</h1></header>
    <section>
      <form>
        <label for="from-date">from</label>
        <input id="from-date-picker" type="date" name="from-date" />
        <label for="to-date">to</label>
        <input id="to-date-picker" type="date" name="to-date" />
        <input id="destination" type="text" placeholder="destination" />
        <input id="btn-search" type="submit" value="search" />
      </form>
      <div id="caption" style="background-image: url('https://cdn.pixabay.com/photo/2015/10/04/06/52/japan-970705_960_720.jpg');">
        <div id="temperature">10</div>
        <div id="town-name">Samarkand</div>
        <div id="trip-duration">16 days</div>
      </div>
    </section>
    <footer>normuradov</footer>
  </body>
</html>
