<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP API Usage</title>
  </head>

  <body>
    <header>
      <div id="logo">NLP | Project 4</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <label for="url-input">paste news outlet url below</label>
          <input
            id="url-input"
            type="text"
            name="url-input"
            value=""
            oninvalid="this.setCustomValidity('provided text is not a valid web address')"
            oninput="this.setCustomValidity('')"
            pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
            placeholder="url"
          />
          <button
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
          >
            process
          </button>
        </form>
      </section>

      <section>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <div id="signature">normuradov</div>
    </footer>
    <script>
      window.onload = function () {
        main.test();
      };
    </script>
  </body>
</html>
