<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP API Usage</title>
  </head>

  <body>
    <header>
      <div id="logo">NLP | Project 4</div>
    </header>

    <main>
      <section>
        <form>
          <label for="url-input">paste news outlet url below</label>
          <input
            id="url-input"
            type="text"
            name="url-input"
            placeholder="url"
          />
          <button id="btn-process" type="submit" name="" value="submit">
            process
          </button>
        </form>
      </section>

      <section>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <div id="signature">normuradov</div>
    </footer>
  </body>
</html>
