@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

p {
  color: black;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.5em;
}
