figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 192px;
  margin: auto;
}

img {
  max-width: 192px;
  max-height: 192px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

p {
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: grey;
  opacity: 0.5;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.5em;
}
