@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");

@media (max-width: 600px) {
  .footer {
    font-size: 0.8em;
    text-align: center;
    font-family: "Merriweather", serif;
    color: white;
    background-color: #0099b5;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
}

@media (min-width: 601px) {
  .footer {
    grid-area: footer;
    font-size: 0.8em;
    text-align: center;
    font-family: "Merriweather", serif;
    color: black;
    background-color: grey;
  }
}
