

@media (max-width: 600px) {
  body {
    background-color: #232b2b;
    font-size: 2em;
    color: white;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 7fr 1fr;
    border: 2px solid yellow;
  }

  .box {
    border: 1px solid red;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {

}

@media (min-width: 1201px) {

}