@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@media (max-width: 600px) {
  .post-preview {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background-color: #1eb53a54;
    border-radius: 0.8em;
    margin: 0.1em;
  }

  .details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .date {
    font-style: italic;
    font-size: 0.5em;
    text-align: center;
  }

  .post-title {
    font-size: 0.5em;
    text-align: center;
  }

  .post-pic {
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
    margin: 3px;
  }

  .post-preview img {
    max-width: 500px;
    border-radius: 1em;
  }
}

@media (min-width: 601px) {
  .post-preview {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background-color: #1eb53a54;
    border-radius: 0.8em;
    margin: 0.1em;
  }

  .details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .date {
    font-style: italic;
    font-size: 0.5em;
    text-align: center;
  }

  .post-title {
    font-size: 0.5em;
    text-align: center;
  }

  .post-pic {
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
    margin: 3px;
  }

  .post-preview img {
    max-width: 1000px;
    border-radius: 1em;
  }
}

.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
