@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@media (max-width: 600px) {
  .post-preview {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background-color: #1eb53a70;
    border-radius: 0.8em;
    margin: 0.1em;
    /* border: 2px solid blue; */
  }

  .details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .date {
    font-style: italic;
    font-size: 0.5em;
    text-align: center;
    /* border: 2px solid pink; */
  }

  .post-title {
    font-size: 0.5em;
    text-align: center;

    /* border: 2px solid grey; */
  }

  .post-pic {
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
    margin: 3px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .post-preview {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background-color: #1eb53a70;
    border-radius: 0.8em;
    margin: 0.1em;
    /* border: 2px solid blue; */
  }

  .details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .date {
    font-style: italic;
    font-size: 0.5em;
    text-align: center;
    /* border: 2px solid pink; */
  }

  .post-title {
    font-size: 0.5em;
    text-align: center;

    /* border: 2px solid grey; */
  }

  .post-pic {
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
    margin: 3px;
  }
}

.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

#az-func-overview-post {
  background-image: url(../assets/azure-function.svg);
}

#az-func-bindings-post {
  background-image: url(../assets/storage-account.svg);
}

#az-func-active-directory-post {
  background-image: url(../assets/active-directory.svg);
}

#az-func-app-insights-post {
  background-image: url(../assets/app-insights.svg);
}

#azure-dev-ops-post {
  background-image: url(../assets/azure-dev-ops.svg);
}

#app-service-monitor-post {
  background-image: url(../assets/dashboard.svg);
}
